.page-category {
    .site-header {
        background-color: #000;
    }

    .hero-zone {
        top: initial;
        margin-bottom: 3rem;

        .item {
            min-height: 90vh;
        }

        .bx-pager {}
    }

    #topBrandSlider {
        .carousel-indicators {
            position: static;

            li {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                text-indent: -9999em;
                background-color: #ced4da;
                vertical-align: text-bottom;

                &.active {
                    background-color: $primary;
                }
            }
        }
    }

    .zone-common {
        .form-group {
            .row--extend {
                display: none;

                &.is-active {
                    display: flex;
                }
            }
        }

        .btn-toggle {
            .fa-chevron-circle-up {
                display: none;
            }

            &.is-active {
                .fa-chevron-circle-down {
                    display: none;
                }

                .fa-chevron-circle-up {
                    display: inline-block;
                }
            }
        }
    }

    .zone__header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        .zone__heading {
            margin-bottom: 0;
        }

        .zone__filter {
            margin-left: auto;

            .dropdown-menu {
                li {

                    a {
                        display: block;
                        padding: 0.25rem 0.5rem;
                    }
                }
            }
        }
    }
}

.zone--listing {
    .zone__content {
        background-color: #fff;
        padding: 1rem 0px;
        margin-bottom: 1rem;
    }

    .story {
        background-color: #fff;
        margin-bottom: 1rem;

        &__thumb {
            float: right;
            width: 120px;
            height: 90px;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__heading {
            font-size: 0.875rem;
        }

        &__heading,
        &__meta,
        &__summary {
            width: calc(100% - 128px);
        }

        &+.story {
            padding-top: 1rem;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}

.card-grid {
    .story {
        height: 100%;
        background-color: #fff;
    }
}

.zone-brand {
    .card-grid {
        .story {
            &__thumb {
                border-bottom: 1px solid #f0f0f0;
            }
        }
    }
}