// Header style
.site-header {
    padding: 1rem 0;
    position: relative;
    z-index: 30;
    transition: all 0.2s ease-in-out;

    &.is-pinned {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        &+#site-content {
            margin-top: 72px;
        }
    }

    .logo {
        line-height: 40px;
        height: 40px;
        float: left;
        margin: 0;

        a {
            display: inline-block;
            width: 118px;
            height: 40px;
            background-image: url('../images/sprites.svg');
            background-size: 500px 500px;
            background-position: 0 -200px;
        }
    }

    &__tools {
        float: right;
        line-height: 40px;
        font-size: 24px;

        *[id*="button-"] {
            color: white;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 0.7;
            }
        }

        *[class*="fa"] {
            width: 40px;
            text-align: center;
        }

        .user-avatar {
            img {
                vertical-align: text-top;
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
}

#site-mask {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 1;
    z-index: 31;
    display: none;

    &.is-active {
        display: block;
    }
}

.site-footer {
    padding: 3.5rem 0px 2rem;
    background-color: #181818;
    border-top: 5px solid $primary;
    text-align: center;
    color: white;
    font-size: 0.75rem;

    img {
        max-width: 10rem;
        height: auto;
    }

    p {
        margin-bottom: 0.5rem;
    }

    .logo-zone {
        margin-bottom: 1rem;
        font-size: 0;

        a {
            display: inline-block;
            width: 118px;
            height: 40px;
            background-image: url('../images/sprites.svg');
            background-size: 500px 500px;
            background-position: 0 -200px;
        }
    }

    .box-heading {
        color: white;
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    .box-content {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;

        .fab {
            display: flex;
            font-size: 1.5rem;
            color: white;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $primary;
            }
        }
    }

    .copy {
        &-info {
            margin: 3rem 0;
        }

        &-right {
            margin-top: 2rem;

            h1,
            h3 {
                font-size: 0.75rem;
            }

            a.hemera {
                display: inline-block;
                width: 70px;
                height: 40px;
                background-image: url('../images/sprites.svg');
                background-size: 500px 500px;
                background-position: -300px -150px;
            }
        }
    }

    #btnGotop {
        position: fixed;
        bottom: 0.5rem;
        right: 0.5rem;
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
        color: white;
        background-color: $blue;
        text-align: center;
        display: none;
        z-index: 31;

        &:hover {
            opacity: 0.8;
        }
    }
}

/* extra content */
#wrap {
    &-search {
        position: fixed;
        z-index: 32;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        padding: 3rem 1rem;
        overflow: auto;

        .form-control {
            margin-bottom: 1rem;
        }

        &.is-active {
            display: block;
        }

        .fa-times {
            cursor: pointer;
            color: #fff;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.5rem;
            opacity: 0.7;
        }

        .suggestion {
            margin-bottom: 16px;

            .label {
                color: white;
                font-weight: bold;
                margin-right: 16px;
                opacity: 0.8;
                font-size: 14px;
                text-transform: uppercase;

                .fal {
                    position: relative;
                    margin-right: 4px;
                    top: 3px;
                    bottom: auto;
                    right: auto;
                }
            }

            .item {
                display: inline-block;
                color: rgba(255, 255, 255, 0.8);
                padding: 6px 16px;
                font-size: 14px;
                transition: all .2s ease-in-out;
                border-radius: 20px;
                background: rgba(255, 255, 255, 0.15);
                margin-top: 0.5rem;

                &+.item {
                    margin-left: 12px;
                }

                &:hover {
                    opacity: 1;
                    background: $blue;
                    color: white;
                }
            }
        }

        .input-wrap {
            position: relative;

            .btn {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.25em;
                line-height: 3rem;
                height: 3rem;
                padding: 0 1rem;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        .search-form {
            position: relative;
            @include clearfix;

            .btn-primary {
                float: right;
            }
        }

        .search-suggestion {
            display: none;
            padding: 16px;
            background-color: #fff;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 1;
            margin-top: 1rem;

            &:empty {
                background-color: transparent;
            }

            .heading {
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 16px;
            }

            .suggestion-wrap {
                &+.suggestion-wrap {
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    padding-top: 16px;
                    margin-top: 16px;
                }
            }

            .title {
                font-size: 18px;
                margin-bottom: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    font-size: 14px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .text {
                font-size: 16px;
                padding: 4px 8px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: #f0f0f0;
                }

                &.text {
                    margin-top: 8px;
                }

                a {
                    display: block;
                }

                .highlight {
                    color: $blue;
                    font-weight: bold;
                    font-style: normal;
                }
            }
        }
    }

    &-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        background-color: #fff;
        overflow-y: auto;
        transition: all 0.2s ease-out;
        z-index: 32;
        padding-bottom: 2rem;

        &.is-active {
            left: 20%;
        }

        .cate__sub {
            position: absolute;
            top: 4.5rem;
            bottom: 4.5rem;
            left: 0;
            right: 0;
            overflow: auto;
            list-style-type: none;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 1rem 2.5rem;

            li {
                padding: 1rem 0;
            }

            .cate {
                position: relative;

                .fal {
                    position: absolute;
                    top: 4px;
                    right: 0;
                }
            }

            .sub-cate {
                padding-left: 1rem;
                margin-top: 0.5rem;
                font-weight: normal;
                font-size: 0.875rem;

                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .zone-common {
                margin-bottom: 0;

                .zone__heading {
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }

                .form-group {
                    label {
                        font-weight: normal;
                        font-size: 0.875rem;
                    }
                }
            }
        }

        .fa-times {
            cursor: pointer;
            position: absolute;
            color: #fff;
            top: 1.5rem;
            right: 1.5rem;
            font-size: 1.5rem;
            opacity: 0.7;
        }

        .logo {
            padding: 1rem;
            background-color: #333;

            a {
                display: inline-block;
                width: 118px;
                height: 40px;
                background-image: url('../images/sprites.svg');
                background-size: 500px 500px;
                background-position: 0 -200px;
            }
        }

        .menu-footer {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 1rem 1rem 0.5rem;
            border-top: 1px solid #ddd;
            background-color: #fff;

            .title {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
            }

            .text {
                margin-bottom: 0.25rem;
                font-size: 0.875rem;
            }
        }
    }

    &-user {
        position: fixed;
        z-index: 32;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        padding: 3rem 1rem 1rem;
        overflow: auto;
        color: white;

        .form-control {
            margin-bottom: 1rem;
        }

        &.is-active {
            display: block;
        }

        .fa-times {
            cursor: pointer;
            color: #fff;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.5rem;
            opacity: 0.7;
        }

        hr {
            border-color: rgba(255, 255, 255, 0.2);
            margin: 1rem 0;
        }

        a {
            color: white;

            &:hover {
                text-decoration: underline;
            }

            &.dropdown-item:hover {
                background: transparent;
            }
        }

        .form-group {
            margin-bottom: 16px;

            label {
                display: block;

                &.check {
                    margin-bottom: 0;
                }
            }

            .form-control {
                display: block;
                width: 100%;
                font-size: 16px;
            }
        }


        .dropdown-item {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.signin {
    .btn-wrap {
        position: relative;
        margin-bottom: 0.5rem;

        .text {
            position: absolute;
            top: 50%;
            left: 4px;
            transform: translate(50%, -50%);
            color: white;
        }
    }

    .btnLoginWithFacebook,
    .btnLoginWithGoogle {
        display: inline-block;
        width: 100%;
        text-align: left;
        padding-left: 2.5rem;
    }

    .btn-primary {
        background: $blue;
        border-radius: 0;
    }

}

.medium-zoom--opened {
    .medium-zoom-overlay {
        z-index: 31;

        &+.medium-zoom-image {
            visibility: hidden;
        }
    }

    .medium-zoom-image--opened {
        z-index: 32;
        object-fit: contain;
        // min-height: 85vh;
        // max-height: 85vh;
        // min-width: 90vw;
        // max-width: 90vw;
        // will-change: left, top, transform; 
    }
}