// ====================================
// Article page's style
// ====================================

// Note: wrap all article'elements exept sidebar
.detail-page {
    .site-header {
        margin-bottom: 40px;
        background-color: #000;

        &.is-pinned {}
    }

    .detail-section {
        margin-top: 24px;

        .row>.col-12 {
            display: flex;
            justify-content: space-between;
        }
    }

    .box {
        margin-bottom: 24px;
    }

    .top-box {
        .box-heading {}

        .box-content {
            margin-top: 3px;

            .rank-1-stories {

                .story {
                    width: 795px;
                    height: 450px;
                    position: relative;

                    &:before {
                        content: '';
                        width: 260px;
                        height: 215px;
                        position: absolute;
                        bottom: 0;
                        left: 20px;
                        z-index: 30;
                        background-color: #fff;
                    }

                    &:after {
                        content: '';
                        width: 795px;
                        height: 450px;
                        position: absolute;
                        left: -15px;
                        top: -15px;
                        z-index: 20;
                        border: 4px solid $primary;
                        transition: all .3s ease-in-out;
                    }

                    &__thumb {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 10;
                        box-shadow: 0 0 10px rgba(black, .15);
                    }

                    &__heading {
                        width: 230px;
                        position: relative;
                        padding-top: 260px;
                        left: 40px;
                        z-index: 30;
                    }

                    &__summary {
                        width: 230px;
                        margin-top: 10px;
                        position: relative;
                        left: 40px;
                        z-index: 30;
                    }

                    &__meta {
                        width: 300px;
                        margin-top: 10px;
                        position: relative;
                        left: 40px;
                        z-index: 30;
                    }

                    &:hover {
                        &:after {
                            left: -0px;
                            top: -0px;
                        }

                        .story__thumb {
                            a {}
                        }
                    }
                }
            }

            .rank-2-stories {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;

                .story {
                    width: 375px;
                }

                .story:nth-child(1) {
                    margin-left: 23px;
                }
            }
        }
    }

    .sidebar-box {
        display: flex;
        flex-flow: column wrap;

        .box-heading {}

        .box-content {
            height: 612px;
            background-color: #fff;
            margin-top: 50px;
            padding: 0 15px;

            .rank-1-stories {

                .story {
                    margin-top: -47px;

                    &__thumb {
                        width: 290px;
                        height: 160px;
                        margin: 0px auto 0;
                        box-shadow: 0 0 15px rgba(black, .15);
                    }

                    &__heading {
                        margin-top: 15px;
                    }

                    &__meta {
                        margin-top: 10px;
                    }

                    &__summary {
                        margin-top: 10px;
                    }
                }

            }

            .rank-2-stories {
                border-top: 1px solid #000;
                margin-top: 30px;
                padding-top: 30px;

                .story {
                    margin-top: 25px;

                    &:first-child {
                        margin-top: 0;
                    }

                    &__thumb {
                        width: 95px;
                        height: 70px;
                        float: left;
                    }

                    &__heading {
                        margin-left: 110px;
                    }

                    &__meta {
                        margin-top: 10px;
                    }

                    &__summary {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .listing-box {
        .story {
            background-color: #fff;

            &__thumb {
                float: right;
                width: 205px;
                height: 185px;
            }

            &__heading {
                width: calc(100% - 205px);
                padding: 24px 24px 6px;
            }

            &__meta {
                padding-left: 24px;
                padding-right: 24px;
                width: calc(100% - 205px);
            }

            &__summary {
                padding: 24px;
                width: calc(100% - 205px);
            }

            &.story {
                margin-top: 24px;
            }
        }

        .box-footer {
            margin-top: 30px;
        }

        .view-more {
            text-align: center;

            .btn-outline-primary {
                padding-left: 7rem;
                padding-right: 7rem;
                border-width: 4px;
                color: $primary;
                border-color: $primary;

                &:hover {
                    color: white;
                    background-color: $primary;
                }
            }
        }
    }
}

.detail {
    &-wrap {
        margin-bottom: 3rem;
    }

    &__avatar {
        margin: 0px -24px;
        width: calc(100% + 3rem);
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: auto;
        }

        .image-caption {
            font-style: italic;
            max-width: 80%;
            margin: auto;
            margin-top: 8px;

            &:empty {
                display: none;
            }
        }
    }

    &__header {
        background-color: #fff;
        padding: 1rem;
        position: relative;

        &::after {}

        .detail__credit {
            font-weight: 400;
            margin-top: 0;
            line-height: 28px;
            padding-top: 0;
            text-align: left;

            &::before {
                display: none;
            }

            .detail__author {
                font-weight: 700;
                text-transform: uppercase;
                position: relative;
                @include clearfix();

                a,
                span {
                    display: inline-block;
                    float: left;
                }

                .avatar {
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 8px;
                }

                .source {
                    text-transform: none;
                    font-style: normal;

                    &::before {
                        content: '-';
                        margin: 0 4px;
                        display: inline-block;
                    }
                }
            }
        }
    }

    &__meta {
        @include clearfix();
        position: relative;
        z-index: 1;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1rem 0;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;

        time {
            font-size: 0.875rem;
            color: #878787;
        }

        .detail__social {
            margin-left: auto;
            text-align: right;
        }
    }

    &__social {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 0;

        li {
            display: flex;
            align-items: inherit;

            &+li {
                margin-left: 0.5rem;
            }

            &:hover,
            &.is-active {}
        }

        a {
            font-size: 0.875rem;
        }
    }

    &__title {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.3;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
    }

    &__summary {
        font-size: 1.125rem;
        font-weight: bold;
    }

    &__content {
        @include clearfix;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        color: black;

        &>p,
        &>div,
        &>h2,
        &>h3,
        &>h4,
        &>h5 {
            margin: 0px 0 1.5rem;
            font-size: 1rem;
            line-height: 1.4;
        }

        .embed-youtube,
        img,
        video {
            max-width: 100%;
            height: auto;
        }

        .content-image,
        .image-wrap {
            margin: 0rem -1.5rem 1rem;
            position: relative;

            img {
                display: block;
                margin: auto;
            }

            .image-caption,
            .fig {
                font-style: italic;
                max-width: 90%;
                margin: 0.5rem auto 0px;
                text-align: center;
            }

            &.pull-left,
            &.pull-right,
            &.vertical-left,
            &.vertical-right {
                text-align: center;
            }

            &.pull-left {}

            &.pull-right {}

            &.vertical-left {}

            &.vertical-right {}

            &.vertical-left,
            &.vertical-right {}
        }

        .box-image {
            margin-left: -1rem;
            margin-right: -1rem;

            &.twin {
                display: flex;

                .content-image {
                    margin: 0 1px;
                }
            }

            &.triple,
            &.four,
            &.five,
            &.seven {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                flex-flow: row wrap;
                align-content: flex-end;

                .item {
                    height: 230px;
                    width: calc(33.33% - 2px);
                    overflow: hidden;
                    position: relative;
                }
            }

            &.triple {
                .item {
                    height: 154px;

                    img {
                        height: 100%;
                        width: auto;
                        max-width: initial;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            &.four {
                .item {
                    width: calc(50% - 2px);
                    height: 95px;
                    margin-bottom: 4px;
                }
            }

            &.five,
            &.seven {
                .item {
                    width: calc(40% - 2px);
                    margin-bottom: 4px;
                    height: 75px;

                    &-sm {
                        flex-basis: calc(20% - 2px);

                        img {
                            height: 100%;
                            width: auto;
                            max-width: initial;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    &-lg {
                        width: calc(50% - 2px);
                        height: 95px;
                    }
                }
            }

            &.grid,
            &.eight {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                flex-flow: row wrap;
                align-content: flex-end;

                .item {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    height: 190px;
                    margin-bottom: 3px;
                    flex-basis: calc(40% - 2px);
                    justify-content: center;
                    flex-direction: column;
                    position: relative;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: auto;
                        max-width: initial;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    &-lg {
                        flex-basis: calc(50% - 2px);
                    }
                }

                .item-horizontal {}

                .item-vertical {
                    flex-basis: calc(20% - 2px);
                }
            }

            .image-wrap {
                position: static;

                img {
                    z-index: 20;
                }
            }
        }

        table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;

            th,
            td {
                padding: .5rem;
                vertical-align: top;
            }

            &.has-border {

                th,
                td {
                    border: 1px solid #dee2e6;
                }
            }
        }

        .first-letter {
            &::first-letter {
                font-weight: bold;
                text-transform: uppercase;
                color: $blue;
                font-size: 5.4rem;
                line-height: 4.2rem;
                padding-right: 8px;
                float: left;
                vertical-align: top;
            }
        }

        .quotes {
            position: relative;
            background-color: #333;
            padding: 20px 30px 20px 20px;
            line-height: 1.4;
            color: white;

            &::before {
                z-index: 0;
                border: 4px solid #333;
                left: -10px;
                top: -10px;
                bottom: 10px;
                right: 10px;
                position: absolute;
                content: '';
                display: block;
            }

            &.w100percent {
                max-width: 100%;
                float: none;
                margin-left: 0;
                margin-right: 0;
            }

            &.icon-quote {
                background: transparent;
                color: black;
                border: 4px solid $blue;
                padding-left: 44px;
                margin-left: 0;

                &::before {
                    content: '';
                    font-family: "Font Awesome 5 Free";
                    left: -20px;
                    top: -36px;
                    border: none;
                    background: white;
                    color: $blue;
                    bottom: auto;
                    right: auto;
                    padding: 10px;
                    font-size: 40px;
                    font-weight: 900;
                }

                &.quotes-right {
                    margin-right: 0;
                    margin-left: 16px;
                }
            }
        }

        .detail__social {
            float: right;
            margin-top: 24px;
        }

        .zone-common {
            margin: 0 -1rem 1rem;
            padding: 1rem 0;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;

            .container-fluid {}
        }
    }

    &__relate {

        .box {
            &.sidebar-box {
                .box-heading {
                    font-size: 1.125rem;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .box-content {
                    margin-top: 16px;

                    .rank-2-stories {
                        margin-top: 0;
                        padding-top: 0;
                        border-top: none;

                        .story {
                            &__thumb {
                                float: left;
                                margin-right: 1rem;
                                width: 90px;
                            }
                        }
                    }
                }
            }

            &-content {
                border: 1px solid #000;
                height: initial !important;
                padding: 16px !important;

                .rank-1-stories {
                    .story {
                        margin-top: -30px !important;

                        &__thumb {
                            width: 100% !important;
                            height: initial !important;
                            padding-bottom: 56.25%;

                            img {
                                transition: all 0.2s ease-in-out;
                                transform-origin: top left;
                            }

                            &:hover {
                                a {
                                    transform: none;
                                }

                                img {
                                    transform: scale(1.05) translate(-50%, -50%);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.is-full {

            .box-content {
                border: none;
                padding: 0 !important;

                .rank-2-stories .story__heading {
                    margin-left: 0;
                    padding-left: 24px;
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 6px;
                        left: 0;
                        width: 8px;
                        height: 8px;
                        background-color: $primary;
                    }
                }
            }
        }
    }

    &__credit {
        text-align: right;
        font-weight: bold;
        position: relative;
        padding-top: 16px;
        margin-top: 24px;

        &::before {
            content: '';
            display: block;
            width: 108px;
            height: 1px;
            background-color: #000;
            position: absolute;
            top: 0;
            right: 0;
        }

        .source {
            font-style: italic;
        }
    }

    &__footer {
        padding: 1rem;
        background-color: #fff;
        border-top: 1px solid #ddd;

        .box-heading {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        .listing {
            padding-left: 0;

            li {
                list-style-type: none;
            }
        }

        .comment {
            &+.comment {
                margin-top: 1rem;
                padding-top: 1rem;
                border-top: 1px solid #eee;
            }

            time {
                opacity: 0.8;
                margin-left: 0.5rem;
            }

            .text {
                margin-top: 0.5rem;
            }

        }

        .input {
            margin-top: 1.5rem;
        }

        [class*="btn-outline"] {
            border-width: 1px;
        }
    }
}